{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="margin: 25%; margin-top: 10%;">
                <form method="POST" autocomplete="off" class="form-signin bg-light p-4">
                    {% csrf_token %}
                    <label for="" class="sr-only">Usuário</label>
                    <input type="text" name="username" class="form-control mb-3" required autofocus>

                    <label for="" class="sr-only">Senha</label>
                    <input type="password" name="password" class="form-control mb-3" required>

                    <button type="submit" class="btn btn-primary btn-block" style="margin-left: 45%;">Entrar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
